@import "media-queries";

$dark-color: #494949;

h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: $dark-color;
}

button {
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#inpuText {
    position: relative;
    margin-top: 1rem;

    #titleInput {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid steelblue;
    }

    textarea {
        height: 60vh;
        border: none;
        border-radius: 0;
        background: none;
    }

    .lines-form {
        position: absolute;
        z-index: -1;
        margin-top: -313px;
        height: 60vh;
        width: 100%;
        background-image: repeating-linear-gradient(white 0px, white 23px, steelblue 24px);
      }
    
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    border-bottom: 1px solid $dark-color; 
    background: #fff;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        margin-left: 1.5rem;
    }

    #home {
        margin-right: auto;
    }

    .s-input {
        margin: 0;
        width: 50%;
        height: 2.5rem;
    }
}

.card {
    position: relative;
    box-sizing: border-box;
    margin-top: 1rem;
    width: 100%;
    height: 6rem;
    overflow: hidden;
    padding: 1rem;
    border-radius: .8rem;
    border: 1px solid $dark-color;
    cursor: pointer;

    background-color: beige;
    box-shadow: 5px 5px 10px 2px rgba(73,73,73,0.7);

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    transition: background-color 100ms, box-shadow 100ms;

    &:hover {
        box-shadow: none;
        background-color: rgba(245,245,220,0.4);
    }

}


.delete {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: orangered;
}

.read-message {
    position: relative;
    margin-top: 1rem;
    height: 100%;
}

.invisible {
    display: none;
}


//Paper like lines
.lines {
    position: absolute;
    z-index: -1;
    top: 10px;
    margin-top: 2px;
    height: 60vh;
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 23px, steelblue 24px);
  }
