@media (min-width: 550px) {
  .nav-bar {
    height: 6rem !important;
  }
  #under-fix-nav {
    margin-top: 6rem !important;
  }
  div#content {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  div#content .card {
    height: 150px;
  }
  div#content .card h4 {
    font-size: 2rem;
  }
  #inpuText {
    grid-column: 1 / -1;
  }
  .read-message {
    grid-column: 1 / -1;
  }
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #494949;
}

button {
  margin-top: 1.5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inpuText {
  position: relative;
  margin-top: 1rem;
}

#inpuText #titleInput {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid steelblue;
}

#inpuText textarea {
  height: 60vh;
  border: none;
  border-radius: 0;
  background: none;
}

#inpuText .lines-form {
  position: absolute;
  z-index: -1;
  margin-top: -313px;
  height: 60vh;
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 23px, steelblue 24px);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  border-bottom: 1px solid #494949;
  background: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar a {
  margin-left: 1.5rem;
}

.nav-bar #home {
  margin-right: auto;
}

.nav-bar .s-input {
  margin: 0;
  width: 50%;
  height: 2.5rem;
}

.card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1rem;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  padding: 1rem;
  border-radius: .8rem;
  border: 1px solid #494949;
  cursor: pointer;
  background-color: beige;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(73, 73, 73, 0.7);
          box-shadow: 5px 5px 10px 2px rgba(73, 73, 73, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: background-color 100ms, -webkit-box-shadow 100ms;
  transition: background-color 100ms, -webkit-box-shadow 100ms;
  transition: background-color 100ms, box-shadow 100ms;
  transition: background-color 100ms, box-shadow 100ms, -webkit-box-shadow 100ms;
}

.card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(245, 245, 220, 0.4);
}

.delete {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: orangered;
}

.read-message {
  position: relative;
  margin-top: 1rem;
  height: 100%;
}

.invisible {
  display: none;
}

.lines {
  position: absolute;
  z-index: -1;
  top: 10px;
  margin-top: 2px;
  height: 60vh;
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 23px, steelblue 24px);
}
/*# sourceMappingURL=main.css.map */